@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body {
  font-size: .875rem;
  font-family: 'Monserrat', sans-serif; }

.sidebar-sticky {
  background: #43425D;
}

.sidebar a.nav-link {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

.sidebar .nav-link.active {
  color: yellow !important;
}

.feater {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
